#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define SYM    1
#define NAV    2
#define FUN    3

/ {
  behaviors { // {{{
    th: tap_hold {
      compatible = "zmk,behavior-hold-tap";
      label = "TAP_HOLD";
      #binding-cells = <2>;
      tapping_term_ms = <150>;
      flavor = "hold-preferred";
      bindings = <&kp>, <&kp>;
    };
  }; // }}}

  keymap {
    compatible = "zmk,keymap";

    default_layer { // Base (Colemak-DH) {{{
      // ┌─────────────────────┬─────────────────────┐
      // │ q   w   f   p   b   │ j   l   u   y   ⌫   │
      // │ a   r   s   t   g   │ m   n   e   i   o   │
      // │ z   x   c   d   v   │ k   h   ,   .   ↵   │
      // └─────────────────────┴─────────────────────┘
      //         │ ⌘   Sym ⇧   │ ␣   Nav ⌥   │
      //         └─────────────┴─────────────┘ 
      bindings = <
        &kp Q       &kp W     &kp F     &kp P     &kp B       &kp J        &kp L     &kp U     &kp Y     &kp BSPC
        &kp A       &kp R     &kp S     &kp T     &kp G       &kp M        &kp N     &kp E     &kp I     &kp O
        &kp Z       &kp X     &kp C     &kp D     &kp V       &kp K        &kp H     &kp COMMA &kp DOT   &kp LSHFT
                              &kp LGUI  &mo SYM   &kp SPACE   &th LCTL RET &mo NAV   &kp RALT
      >;
    }; // }}}

    sym_layer { // Symbols {{{
      // ┌─────────────────────┬─────────────────────┐
      // │ '   "   ^   ?   `   │ [   <   =   >   ]   │
      // │ !   @   #   $   %   │ {   (   :   )   }   │
      // │ \   ~   |   &   ;   │ /   *   -   +   _   │
      // └─────────────────────┴─────────────────────┘
      //         │             │      Fn     │
      //         └─────────────┴─────────────┘
      bindings = <
        &kp QUOT  &kp DQT   &kp CARET &kp QMARK &kp GRAVE   &kp LBKT      &kp LT    &kp EQUAL &kp GT    &kp RBKT
        &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp LBRC      &kp LPAR  &kp COLON &kp RPAR  &kp RBRC
        &kp BSLH  &kp TILDE &kp PIPE  &kp AMPS  &kp SEMI    &kp SLASH     &kp STAR  &kp MINUS &kp PLUS  &kp UNDER
                            &trans    &trans    &trans      &trans        &mo FUN   &trans
      >;
    }; // }}}

    nav_layer { // Navigation {{{
      // ┌─────────────────────┬────────────────────┐
      // │ ^   ⌘   ⇤   ⇥   ⌥   │ p↑  hom ▲  end ⌫   │
      // │ 1   2   3   4   5   │ ◀   ▼   ▲  ▶   ↵   │
      // │ 6   7   8   9   0   │ esc p↓  p↑ .   del │
      // └─────────────────────┴────────────────────┘
      //         │     Fn      │             │
      //         └─────────────┴─────────────┘ 
      bindings = <
        &kp LCTRL &kp LGUI  &kp SFTAB &kp TAB   &kp LALT     &trans        &kp HOME  &kp END   &kp END   &kp BSPC
        &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp LEFT      &kp DOWN  &kp UP    &kp RIGHT &kp RET
        &kp N6    &kp N7    &kp N8    &kp N9    &kp N0       &kp ESC       &kp PGDN  &kp PGUP  &kp DOT   &th LCTL DEL
                            &trans    &mo FUN   &trans       &trans        &trans    &trans
      >;
    }; // }}}

    fun_layer { // Function {{{
      // ┌─────────────────────┬─────────────────────┐
      // │ f11 f12 .   .   .   │ .   .   .   .   b⁺  │
      // │ f1  f2  f3  f4  f5  │ .   .   .   .   b⁻  │
      // │ f6  f7  f8  f9  f10 │ v⁻  v⁺  ply nxt .   │
      // └─────────────────────┴─────────────────────┘
      bindings = <
        &none        &none        &none        &none        &none        &none     &kp C_VOL_DN  &kp C_VOL_UP  &none     &none
        &none        &none        &out OUT_USB &out OUT_BLE &out OUT_TOG &none     &kp C_BRI_DN  &kp C_BRI_UP  &none     &none
        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR   &none     &none         &none         &none     &none
                                  &none        &none        &none        &none     &none         &none
      >;
    }; // }}}
  };
};

// vim: ft=c
